<% include ../header %>

<main>
		<section class="wrapper wrapper--content">
      <habbo-columns-channel >
        <div>
            <div class="columns">
              <% photos.forEach(p => { %>
                <habbo-card class="columns__column">
                    <div class="card">
                        <div class="card__content">
                            <a class="card__link" href="/profile/<%= p.author.username %>">
                                <div class="card__image__aligner">
                                  <img src="<%= p.url %>" class="card__image card__image--photo">
                                </div>
                            </a>
                            <div class="card__meta">
                              <time class="card__date"><%= p.timestamp %></time>
                              <habbo-like class="card__like">
                                  <div class="like__action"><a href="/community/photos/like/<%= p.id %>"><span>Like</span> <span class="like__count"><%=p.likes.length %></span></a></div>
                                  <div class="like__thumb">
                                    <i class="like__icon icon icon--like"></i>
                                  </div>
                              </habbo-like>
                          </div>
                        </div>
                        <div>
                            <habbo-avatar class="card__creator">
                                <a class="avatar" href="/profile/<%= p.author.username %>">
                                    <habbo-image class="avatar__image">
                                      <img src="<%= website.figure_imager %>?figure=<%= p.author.look %>&headonly=1" class="imager">
                                    </habbo-imager>
                                    <h6 class="avatar__title"><%= p.author.username %></h6>
                                </a>
                            </habbo-avatar>
                        </div>
                    </div>
                </habbo-card>
            <% }) %>

            </div>
        </div>
    </habbo-columns-channel>
		</section>
	</main>

<% include ../footer %>
