<% include ../../header %>

<div class="wrapper">
    <habbo-profile-header style="position:relative;">
        <div class="profile-header__avatar">
            <div class="profile-header__link">
                <habbo-imager class="profile-header__image">
                  <img class="imager" src="<%= website.figure_imager %>?figure=<%= profile.look %>">
                </habbo-imager>
            </div>
        </div>
        <div class="profile-header__details">
          <div>
            <h1><%= profile.username %></h1>
          </div>
        </div>
        <% if (profile.rank.badge_code != '') { %>
          <img src="<%= website.swf_base %>/other/images/album1584/<%= profile.rank.badge_code %>.gif" style="position:absolute;top:65px;right:475px;">
        <% } %>
    </habbo-profile-header>
</div>

<div class="wrapper wrapper--content">
    <div class="profile__section">
        <div class="profile__card__wrapper--friends">
            <section class="profile__card__aligner">
                <div class="profile__card">
                    <h2 class="profile__card__title">
                      <span>Friends</span> <span class="profile__friends__count">(<% if (profile.friends.length > 4) { %>4 <% } else { %><%= profile.friends.length %> <% } %> %> out of <%= profile.friends.length %>)</span>
                    </h2>
                    <% if (profile.friends.length > 0) { %>
                      <habbo-friend-list class="item-list--grid">
                        <ul>
                          <% profile.friends.slice(0, 4).forEach(f => { %>
                            <li class="item item--friend">
                                <a class="item__content" href="/profile/<%= f.user.username %>">
                                    <div class="item__icon">
                                      <habbo-imager class="item__icon__friend">
                                        <img class="imager" src="<%= website.figure_imager %>?figure=<%= f.user.look %>">
                                      </habbo-imager>
                                    </div>
                                    <div class="item__text">
                                        <h6 class="item__title item__title--single-line"><%= f.user.username %></h6>
                                    </div>
                                </a>
                            </li>
                          <% }) %>
                        </ul>
                          </habbo-friend-list>
                          <div class="profile__card__footer">
                              <habbo-profile-modal type="friends">
                                <a href="/profile/<%= profile.username %>/friends" class="profile-modal__link">See all</a>
                              </habbo-profile-modal>
                          </div>
                        <% } else { %>
                          <p>I don't have any friends!</p>
                        <% } %>
                </div>
            </section>
        </div>
        <div class="profile__card__wrapper--rooms">
          <section class="profile__card__aligner">
              <div class="profile__card">
                  <h2 class="profile__card__title">Rooms</h2>
                  <% if (profile.rooms.length > 0) { %>
                  <habbo-room-list class="item-list--grid">
                    <ul>
                      <% profile.rooms.slice(0, 4).forEach(r => { %>
                        <li class="item item--room">
                            <a href="/room/<%= r.id %>" class="item__content">
                                <habbo-room-icon class="item__icon" url="https://habbo-stories-content.s3.amazonaws.com/navigator-thumbnail/hhus/64061002.png">
                                    <div class="room-icon"></div>
                                </habbo-room-icon>
                                <div class="item__text">
                                    <h6 class="item__title item__title--single-line"><%= r.name %></h6>
                                </div>
                            </a>
                        </li>
                      <% }) %>
                    </ul>
                  </habbo-room-list>
                  <div class="profile__card__footer">
                      <habbo-profile-modal>
                        <a href="/profile/<%= profile.username %>/rooms" class="profile-modal__link">See all</a>
                      </habbo-profile-modal>
                  </div>
                  <% } else { %>
                    <p>I don't own any rooms!</p>
                  <% } %>
              </div>
          </section>
        </div>
    </div>
</div>



<% include ../../footer %>
